<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <div id="title">Remote Fort</div>
    <div align="center">
      <img src="{{ url_for('video_feed') }}" width="90%" />
    </div>
    <div>
    <table class="float-left">
      <tr>
        <td>
          <form id="reload-form" action="/reload" method="post">
            <input type="image" class="img" src="{{ url_for('static', filename='img/reload.jpg') }}" onclick="ButtonClick();"/>
          </form>
        </td>
        <td>
          <form id="shoot-form" action="/shoot" method="post">
            <input type="image" class="img" src="{{ url_for('static', filename='img/shoot.png') }}" onclick="ButtonClick();" />
          </form>
        </td>
      </tr>
    </table>
    <table class="float-right">
    <tr>
      <td>
        <h2>reload reset</h2>
      </td>
      <td>
        <form id="reset_roload-form" action="/reset_reload" method="post">
          <input type="image" class="img" src="{{ url_for('static', filename='img/reset.jpg') }}" onclick="ButtonClick();"/>
        </form>
      </td>
    </tr>
  </table>
    <table align="center">
      <tr>
        <td>
          <form id="left-form" action="/left" method="post">
            <input type="image" class="img" src="{{ url_for('static', filename='img/left.png') }}" onclick="ButtonClick();"/>
          </form>
        </td>

        <td>
          <form action="/stop" method="post">
            <input type="image" class="img" src="{{ url_for('static', filename='img/stop.png') }}" onclick="ButtonClick();"/>
          </form>
        </td>
        <td>
          <form id="right-form" action="/right" method="post">
            <input type="image" class="img" src="{{ url_for('static', filename='img/right.png') }}" onclick="ButtonClick();"/>
          </form>
        </td>
      </tr>
    </table>
    </div>
    
    
    <script>      
      function ButtonClick() {
        return false
      }

      // 鍵盤事件處理
      $(document).keydown(function(e) {
        switch (e.key) {
          case 'ArrowLeft':
            startAction('left');
            break;
          case 'ArrowRight':
            startAction('right');
            break;
        }
      });

      $(document).keyup(function(e) {
        switch (e.key) {
          case 'ArrowLeft':
          case 'ArrowRight':
            stopAction();
            break;
        }
      });
    </script>
  </body>
</html>
